@{
    ViewBag.Title = "Home Page";
}






<div class="jumbotron">
    <h1>Drive4T</h1>
    <p class="lead">This is Drive4T team page.</p>
    <p>@Html.ActionLink("View all sport and rec facilities", "Index", "SportandRecs")</p>
</div>


<div>
    
</div>